{% extends  './layouts/app.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header">Sign In</div>
                <div class="card-body">
                    <form action="{{ path_for('auth.signin') }}" method="post">
                        <div class="form-group">
                            <label for="email" class="form-control-label">Email</label>
                            <input type="email" name="email" id="email" placeholder="email@doman.ru"
                                   class="form-control {{ errors.email ? ' has-error' : '' }}" value="{{ prev.email }}">
                            <span class="help-block">{{ errors.email | first }}</span>
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" name="password" id="password"
                                   class="form-control {{ errors.password ? ' has-error' : '' }}">
                            <span class="help-block">{{ errors.password | first }}</span>
                        </div>
                        <button type="submit" class="btn">Sign in</button>
                        {{ csrf.field | raw }}
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}